@page
@using CampusCrafter.Models
@model CampusCrafter.Areas.Admission.Pages.ChooseMajorsModel

@{
    ViewData["Title"] = "ChooseMajors";
}

<h1>ChooseMajors</h1>

<form id="myForm" method="post">
    <table class="table">
        <thead>
        <tr>
            <th>
                Study Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Majors[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Majors[0].GraduationDegree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Majors[0].Department)
            </th>
            <th>
                Details
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Majors)
        {
            <tr>
                <td>
                    <select name="selectedMajors">
                        <option value="">
                            --Choose if you want to apply--
                        </option>
                        @foreach (var s in item.StudyPlans)
                        {
                            <option value="@(item.Id)s@(s.Id)">
                                @(s.StudyType)
                            </option>
                        }
                    </select>
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GraduationDegree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @if (Model.MajorDegree != 2)
                    {
                        <button type="button" onclick="toggleTable(@item.Id+' table')">
                            @if (Model.MajorDegree == 0)
                            {
                                <div>
                                    Specializations
                                </div>
                            }
                            else
                            {
                                <div>
                                    Prerequisites
                                </div>
                            }
                        </button>
                    }
                </td>
            </tr>
            @if (Model.MajorDegree != 2)
            {
                <tr>
                    <td colspan="3">
                        <table class="table" id="@item.Id table" style="display: none;">
                            <thead>
                            <tr>
                                <th colspan="2">
                                    @if (Model.MajorDegree == 0)
                                    {
                                        <div>Possible specialization</div>
                                    }
                                    else
                                    {
                                        <div>Majors enabling admission</div>
                                    }
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var i in item.Prerequisites.Concat(item.Specializations))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => i.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => i.Department.Name)
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

    <div class="form-group">
        @if (Model.MajorDegree == 2)
        {
            <input type="submit" class="btn btn-primary" value="Next"/>
        }
        else
        {
            <input type="button" value="Create" onclick="check()" class="btn btn-primary"/>
        }
    </div>
</form>

@section Scripts
{
    <script src="~/js/choose-majors.js"></script>
}
