@page
@model CampusCrafter.Areas.Admission.Pages.ConfirmApplicationModel

@{
    ViewData["Title"] = "ConfirmApplication";
}

<h1>ConfirmApplication</h1>

<div>
    <h4>Date of admission @Model.DateTime.Day / @Model.DateTime.Month / @Model.DateTime.Year </h4>
    <hr />
    <h4>Education Progress</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                Progress type
            </th>
            <th>
                Score
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var iTuple in Model.Score.Zip(Model.ProgressTypes))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => iTuple.Second)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => iTuple.First)
                </td>
            </tr>
        }
        </tbody>
    </table>
    <hr />
    <h4>Scholarly Achievements</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                Achievement type
            </th>
            <th>
                Description
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var iTuple in Model.Descriptions.Zip(Model.ScholarlyAchievementTypes))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => iTuple.Second)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => iTuple.First)
                </td>
            </tr>
        }
        </tbody>
    </table>
    <hr />
        <table class="table">
            <thead>
            <tr>
                <th>
                    Major
                </th>
                <th>
                    Points needed in the last admission process
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var major in Model.SelectedMajors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => major.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => 1 @*TODO change to value from major*@)
                    </td>
                </tr>
            }
            </tbody>
        </table>
</div>
<form>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>
<a asp-area="Admission" asp-page="Index" class="btn btn-primary">Cancel</a>