@page
@using CampusCrafter.Models
@model CampusCrafter.Areas.Admission.Pages.ConfirmApplicationModel

@{
    ViewData["Title"] = "ConfirmApplication";
}

<h1>ConfirmApplication</h1>

<div>
    <h4>Date of admission @Model.DateTime.Day / @Model.DateTime.Month / @Model.DateTime.Year </h4>
    <hr />
    <h4>Education Progress</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                Progress type
            </th>
            <th>
                Score
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var progress in Model.Candidate.Progresses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => progress.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => progress.Score)
                </td>
            </tr>
        }
        </tbody>
    </table>
    <hr />
    <h4>Scholarly Achievements</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                Achievement type
            </th>
            <th>
                Description
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var achievement in Model.Candidate.ScholarlyAchievements)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => achievement.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => achievement.Description)
                </td>
            </tr>
        }
        </tbody>
    </table>
    <hr />
        <table class="table">
            <thead>
            <tr>
                <th>
                    Major
                </th>
                <th>
                    Points needed in the last admission process
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var major in Model.Majors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => major.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => 1 @*TODO change to value from major*@)
                    </td>
                </tr>
            }
            </tbody>
        </table>
</div>
<div>
    @foreach (var a in Model.CandidateApplications)
    {
        <h4>
            points without achievements for @a.Major.Name : @(a.Score)
        </h4>
    }
</div>
<form>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>
<a asp-area="Admission" asp-page="Index" class="btn btn-danger">Cancel</a>