@page
@using CampusCrafter.Models
@model CampusCrafter.Areas.Admission.Pages.FillAdmissionModel

@{
    ViewData["Title"] = "Fill Application";
}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
<h1>ConfirmApplication</h1>
<form method="post">
    <div>
        <h4>Date @Model.DateTime.Day / @Model.DateTime.Month / @Model.DateTime.Year </h4>
        <hr/>
        <h4>Education Progress</h4>
        <table class="table" id="progressTable">
            <thead>
            <tr>
                <th>
                    Progress type
                </th>
                <th>
                    Score
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select name="progressTypes" asp-items="@Html.GetEnumSelectList<ProgressType>()"></select>
                </td>
                <td>
                    <input name="score"/>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="addRowProgress();">Add</button>
        <script type="text/javascript">
            var rowsProgress = 1;
            function addRowProgress() {
                var table = document.getElementById("progressTable");
                var row = table.insertRow(-1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var row0 = table.rows[1];
                var cells = row0.cells;
                
                cell1.innerHTML += cells[0].innerHTML;
                cell2.innerHTML += cells[1].innerHTML;
            }
        </script>
        <hr/>
        <h4>Scholarly Achievements</h4>
        <table class="table" id="achievementTable">
            <thead>
            <tr>
                <th>
                    Achievement type
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>
            <tbody>
                <td>
                    <select name="scholarlyAchievementTypes" asp-items="@Html.GetEnumSelectList<ScholarlyAchievementType>()"></select>
                </td>
                <td>
                    <input name="descriptions"/>
                </td>
            </tbody>
        </table>
        <button type="button" onclick="addRowAchievement();">Add</button>
        <script type="text/javascript">
            function addRowAchievement() {
                var table = document.getElementById("achievementTable");
                var row = table.insertRow(-1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var row0 = table.rows[1];
                var cells = row0.cells;
                
                cell1.innerHTML += cells[0].innerHTML;
                cell2.innerHTML += cells[1].innerHTML;
            }
        </script>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
    
</form>
<a asp-area="Admission" asp-page="ChooseMajors" asp-route-value="@Model.MajorType" class="btn btn-secondary">Back</a>