@page
@model CampusCrafter.Areas.Data.Pages.StudyPlans.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudyPlan[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyPlan[0].StageOfStudy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyPlan[0].StudyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyPlan[0].EducationProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyPlan[0].Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudyPlan) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StageOfStudy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationProfile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
